# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Agent Artifacts
artifacts/

# Backend Models
backend/*.pkl

# Datasets
data/